@import url("//at.alicdn.com/t/font_2477090_tjwu0q5hmj.css"); /*阿里巴巴图标*/

.site-page {
  font-size: 16px !important;
}

.copyright {
  font-size: 18px;
}

div#runtime {
  margin-bottom: 10px !important;
  color: #28bbbb;
  animation: flashlight 1s linear infinite alternate;
}

h1.post-title {
  font-family:'Candyhome', sans-serif;
}

div#aside-content {
  font-family:'Candyhome', sans-serif;
}

div.post-copyright-m-info div {
	margin-right: 20px;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

/*夜间模式*/
[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
	
/*阅读模式*/
.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }
	
/* 夜间模式下的阅读模式 */
[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }
	  
button#chat_btn {
	/*取消聊天机器人*/
  display: none !important;
}

.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/* 右下脚样式重写*/
#rightside > div > a, #rightside > div > button {
  opacity: 0.7 !important;
  border-radius: 10px !important;
}

div.vpower.txt-right {
  display: none;
}

div.vwrap {
  border: 2px solid #675a5a !important;
}